@import '_variables';

html {
  font-size: $font-size;
  // color: $font-color;
}
body {
  // background-color: $light-blue;
}

.container {
}

.navbar {
  display: flex;
  background-color: orange;

  .logo {
  }

  .nav-menu {
    a {
      padding: 20px;
    }
  }
}
